:root {
  --default-font-family: "Helvetica, Arial, sans-serif";
  --dark-background: rgba(42, 47, 67, 1);
  --dark-text-color: rgb(255, 255, 255);

  --light-background: rgb(255, 255, 255);
  --light-text-color: rgb(52, 57, 74);
  ;

}

body {
  font-family: var(--default-font-family);
  width: 100vw;
  margin: 0;
}